<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <title>单位设置</title>
  <link rel="stylesheet" type="text/css" href="../../css/api.css" />
  <link rel="stylesheet" type="text/css" href="../../css/common.css" />
  <style>
    body,
    html {
      background: rgba(255, 255, 255, 0);
    }

    .blockIsSelected {
      margin: 1.5vw 3vw;
      padding: 0 4vw;
      border-radius: 3vw;
    }

    .theme {
      height: 12vw;
    }
  </style>
</head>

<body>
  <div id="dwPopup">
    <div class="all-bounce">
      <div class="all-bounce-mark"></div>
      <div class="all-bounce-area">
        <div class="all-bounce-area-title">
          <span>单位设置</span>
          <img @click="go_back" src="../../image/icon/closeIcon.png" alt="">
        </div>
        <div class="all-bounce-area-content">
          <div class="blockIsSelected" v-for="(item,index) in unitList" :key="index"
            :style="{background:unitSelected==index?'#E5F2FF':'#f8f8f8'}">
            <div class="theme flex-sb" @click="selectedUnit(index)">
              <span class="text-4 text-bold">{{item.name}}</span>
              <img class="w-h-5" v-if="unitSelected==index" src="../../image/icon/selectedIcon.png" alt="">
            </div>
          </div>
        </div>
        <div class="all-bounce-area-bottom" @click="sureCompany">确定</div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/vue.min.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script type="text/javascript" src="../../script/db2.js"></script>
<script type="text/javascript">
var db;
  apiready = function () {
    db = api.require('db');
    var map = api.require('bMap');
    var vue = new Vue({
      el: '#dwPopup',
      data: {
        unitSelected: 0,
        unitList: [
          { id: 1, name: 'ppm' },
          { id: 2, name: 'mg/m³' },
          { id: 3, name: 'ppb' },
        ],
        userinfo:{},
        curLon:'',
        curLat:'',
        curCity:'',
        simpleName:'286',
        yqinfData:{},//仪器信息
      },
      created(){
        if (getPrefs('dwSetup')) {
          this.unitList.forEach((e,i)=>{
            if(e.name==(getPrefs('dwSetup') && JSON.parse(getPrefs('dwSetup')).unitInf)){
              this.unitSelected = i
            }
          })
        }
        console.log('单位设置存储值' + getPrefs('dwSetup'))
        if(getPrefs('simpleName')){
            this.simpleName = getPrefs('simpleName')
          }else{
            this.simpleName = '286'
          }
          this.userinfo = getPrefs('userInfo')
          map.getLocation({
              accuracy: '100m',
              autoStop: true,
              filter: 1
          }, (ret1, err1) => {
              // console.log(22222 + JSON.stringify(ret1) + JSON.stringify(err1))
              if (ret1.status) {
                  this.curLon = ret1.lon;
                  this.curLat = ret1.lat;
                  map.getNameFromCoords({
                      lon: ret1.lon,
                      lat: ret1.lat
                  }, (ret4, err4) => {
                      if (ret4.status) {
                          // console.log(JSON.stringify(ret4));
                          this.curCity = ret4.address + ret4.sematicDescription
                      }
                      // console.log(2111111+ JSON.stringify(ret4) + JSON.stringify(err4))
                  })
              } else {
                  console.log('定位失败,离线定位功能需要手动打开GPS，并在无遮挡物的室外')
              }
          })
      },
      mounted() { 
        //读取仪器信息
        let yqinf = api.readFile({
            sync: true,
            path: 'fs://instrumentInformation.txt'
        });
        if(yqinf){
            this.yqinfData = JSON.parse(yqinf)
        }else{
            api.alert({
                msg: '请前往仪器设置页面进行设置'
            });
        }
            // console.log('本仪器信息'+JSON.stringify(this.yqinfData))

      },
      methods: {
        //取消返回
        go_back() {
          api.closeFrame()
        },
        selectedUnit(num) {
          this.unitSelected = num
        },
        sureCompany() {
          console.log('选择单位' + this.unitList[this.unitSelected].name)
          let params = {
              use_id: this.userinfo.id,
              type: 'PID',
              operator: this.userinfo.nickname,
              instrument_code: this.yqinfData.code,
              enterprise_name: '天瑞仪器',
              address: this.curCity,
              lat: this.curLat,
              lng: this.curLon,
              name: this.simpleName,
              unitInf: this.unitList[this.unitSelected].name,//单位
              createtime: new Date().getTime(),
              is_upload: 0,
          };
          var res = insert2('tr_voc_unit_settings', params);
          setPrefs('dwSetup', {
            unitInf: this.unitList[this.unitSelected].name
          })
          api.sendEvent({
            name: 'dwSetup',
            extra: {
              unitInf: this.unitList[this.unitSelected].name
            }
          })
          api.closeFrame()
        }
      }
    })
  }
</script>

</html>